@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

/* h1 {
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    --fill: #85ff7d;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 2rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill);
    background: linear-gradient(var(--fill) 0 100%) left/0 no-repeat;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    transition: 0.5s linear;
    
}

h1 :hover {
    background-size: 100%;
} */



h1 {
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    --fill: #85ff7d;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 2rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill);
    background: linear-gradient;
    color: solid;
    /* -webkit-background-clip: text;
            background-clip: text; */
    transition: 0.5s linear;
}

p {
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    color: #052203;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 2rem Raleway, sans-serif;
}

